@model IEnumerable<SuncereDataCenter.Model.SuncereRole>
@{
    ViewBag.Title = "RoleList";
}

<h3 class="page-header">查询</h3>
<form class="form-inline" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="control-label" for="keyword">关键字：</label>
        @Html.TextBox("keyword", ViewBag.Keyword as string, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">查询</button>
    </div>
</form>
<h3 class="page-header">表格</h3>
<p>
    @Html.ActionLink("新增", "RoleAdd", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>名称</th>
            <th>状态</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @(item.Status ? "启用" : "关闭")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @Html.ActionLink("详情", "RoleDetails", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("编辑", "RoleEdit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" + (item.Static ? " disabled" : "") })
                    @Html.ActionLink("删除", "RoleDelete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" + (item.Static ? " disabled" : "") })
                    @Html.ActionLink("权限", "RolePermissions", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>